footer {
  background-color: white;
  height: 150px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .side-of-footer {
  display: flex;
  align-items: center;
}
footer .container .side-of-footer .next {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  padding-left: 40px;
  background-color: #f6f5f4;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 800;
  color: #30444e;
  font-size: 15px;
  margin-left: 20px;
}
footer .container .side-of-footer .next img {
  width: 20px;
  margin-left: 10px;
}

footer .container .side-of-footer h2 {
  color: #31544b;
  font-size: 18px;
}

footer .container .side-of-footer .btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 15px;
}
footer .container .side-of-footer .btn-footer img {
  width: 25px;
  margin-left: 15px;
}

@media (max-width: 768px) {
  footer {
    background-color: white;
    height: fit-content;
    margin-top: 60px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .side-of-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  footer .container > .side-of-footer {
    flex-direction: column-reverse;
  }
  footer .container .side-of-footer .next {
    width: 100%;
    margin-left: 0px;
  }
  footer .container .side-of-footer h2 {
    font-size: 16px;
  }
  footer .container .side-of-footer .btn-footer {
    margin-top: 15px;
    margin-right: 0px;
    border-radius: 10px;
    width: 100%;
  }
}
