footer {
  background-color: white;
  height: 150px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .side-of-footer {
  display: flex;
  align-items: center;
}
.Previous,
.next {
  border-radius: 10px;
  min-width: 280px;
  transition: 0.3s ease;
}

.Previous:hover {
  background-color: #e7e7e7 !important;
}
.next:hover {
  background-color: #e7e7e7 !important;
}

footer .container .side-of-footer .next {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 20px;
  padding-right: 40px;
  font-weight: 800;
  position: relative;
  color: #30444e;
  font-size: 15px;
  margin-right: 10px;
  text-align: left;
  background-color: #f6f5f4
}

footer .container .side-of-footer .next .button-and-image {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

footer .container .side-of-footer .next .button-and-image div {
  display: flex;
  align-items: center;
}
footer .container .side-of-footer .next img {
  width: 18px;
  margin-right: 10px;
}
footer .container .side-of-footer .Previous {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 20px;
  padding-left: 40px;
  background-color: #f6f5f4;
  font-weight: 800;
  position: relative;
  color: #30444e;
  font-size: 15px;
}

footer .container .side-of-footer .Previous .button-and-image {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

footer .container .side-of-footer .Previous .button-and-image div {
  display: flex;
  align-items: center;
}
footer .container .side-of-footer .Previous img {
  transform: rotate(180deg);
  width: 18px;
  margin-left: 10px;
}

body[lang="en"] {
  footer .container .side-of-footer .next {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px 20px;
    padding-right: 40px;
    font-weight: 800;
    position: relative;
    color: #30444e;
    font-size: 15px;
    margin-right: 0px !important;
    margin-left: 10px !important;
    text-align: right;
    background-color: #f6f5f4;
  }

  footer .container .side-of-footer .Previous {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 15px 10px 20px;
   
  }

  footer .container .side-of-footer .Previous img {
    margin-left: 0px !important;
    margin-right: 10px !important;
    transform: rotate(-1800deg) !important;
  }
  footer .container .side-of-footer .next img {
    margin-right: 0px !important;
    margin-left: 10px !important;
  }
}

footer .container .side-of-footer h2 {
  color: #31544b;
  font-size: 15px;
}

.name-of-the-page h2 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-weight: 500;
  /* added this to fix english footer problemk */
  
}

footer .container .side-of-footer .btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 20px 35px;
  border-radius: 15px;
  font-size: 15px;
}
footer .container .side-of-footer .btn-footer img {
  width: 25px;
  margin-left: 15px;
}

body[lang="en"] {
  footer .container .side-of-footer .next img {
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 10px;
  }

  footer .container .side-of-footer .next {
    padding: 13px 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding:10px 20px 10px 15px;
    margin-right: 20px;
    margin-left: 0px;
  }
  footer .container .side-of-footer .btn-footer img {
    margin-left: 0px;
    margin-right: 15px;
  }
  footer .container .side-of-footer .btn-footer {
    margin-left: 25px;
    margin-right: 0px;
  }
  @media (max-width: 768px) {
    footer .container .side-of-footer .btn-footer {
      margin-left: 0px;
    }
    footer .container .side-of-footer .next {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    background-color: white;
    height: fit-content;
    margin-top: 60px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .side-of-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  footer .container > .side-of-footer {
    flex-direction: column-reverse;
  }
  footer .container .side-of-footer .next {
    width: 100%;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 15px;
  }
  footer .container .side-of-footer .Previous {
   width: 100%;
   margin-left: 10px;
    margin-right: 0px;
    margin-top: 15px;
}
  footer .container .side-of-footer h2 {
    font-size: 16px;
  }
  footer .container .side-of-footer .btn-footer {
    margin-top: 15px;
    margin-right: 0px;
    border-radius: 10px;
    width: 100%;
  }
}
