.hero {
}

.image-hero {
  animation: heroVibe 3s ease-in-out forwards;
  filter: brightness(1) contrast(1);
}

.image-hero {
  width: 90%;
  height: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  position: relative;

  background-attachment: fixed;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  animation: pulse-bg 60s ease-in-out infinite;
}

.hero-images {
  position: relative;
}

.hero-images::before {
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%) !important;
  background: linear-gradient(
    115.76deg,
    #31544b 44.42%,
    rgba(255, 181, 72, 0.7) 93.13%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0.75;
  width: 90%;
  height: 650px;
  z-index: 2 !important;
}

.hero-img-title {
  width: 82.5%;
  position: absolute;
  bottom: -16.5%;
  left: 50% !important;
  transform: translate(-50%, -25%);
}

.title-section {
  z-index: 989 !important;
  height: 175px;
  width: 82.5%;
  position: absolute;
  bottom: -22%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.white-title {
  margin-right: 15%;
  margin-top: 2px;
  width: 50%;
  height: 53px;
  background-color: white;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 58px;
  position: relative;
  top: 10px;
  z-index: 100000000 !important;
}

.white-title p {
  color: #30444e;
  font-weight: 600;
  font-size: 15px;
}
.white-title .hero-icon {
  width: 75px;
  position: absolute;
  top: -2px;
  right: -34px;
  z-index: 100000000 !important;
}

.white-title .arrow {
  width: 18px;
  margin: 0px 15px;
}

body[lang="ar"] {
  .hero-icon-en {
    display: none !important;
  }
  .white-title .hero-icon-en {
    display: none !important; /*repeated just to make sure it's not working K */
  }
}

@media (max-width: 700px) {
  body[lang="ar"] {
    .image-hero {
      width: 95%;
      height: 250px !important;
      background-position: center center !important;
      background-size: cover !important; /* Resets to default */
      background-attachment: scroll !important; /* Changes fixed to scroll */
      background-repeat: no-repeat !important; /* Resets to default */
      animation: none !important; /* Disables the animation */
    }
  }
  .image-hero {
    width: 95%;
    height: 250px !important;
    background-position: center center !important;
    background-size: cover !important; /* Resets to default */
    background-attachment: scroll !important; /* Changes fixed to scroll */
    background-repeat: no-repeat !important; /* Resets to default */
    animation: none !important; /* Disables the animation */
  }
}

body[lang="en"] {
  .white-title {
    margin-left: 15%;
    border-top-left-radius: 00px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    padding-right: 0px;
    padding-left: 58px;
  }
  .white-title .hero-icon {
    display: none !important; /*repeated just to make sure it's not working K */
  }
  .hero-icon {
    display: none !important; /*repeated just to make sure it's not working K */
  }

  .hero-icon-en {
    display: initial !important;
    width: 75px;
    position: absolute;
    top: -2px;
    left: -34px;
  }
  .white-title .arrow {
    transform: rotate(-180deg);
  }
  @media (max-width: 700px) {
    .hero-icon-en {
      display: none !important;
    }
    .image-hero {
      width: 95%;
      height: 250px !important;
      animation: none !important; /* Disables the animation */
    }
    .white-title {
      margin-left: 5%;
      width: 90%;
      border-top-left-radius: 60px;
      padding-right: 0px;
      padding-left: 0px;
    }
    .green-title {
      width: 90%;
    }
    .green-title::after {
      right: -12.5%;
      width: 125%;
    }
  }
}

.green-title {
  width: 80%;
  height: 400px;
  background-color: #193028;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  z-index: 10000 !important;
}

.green-title h1 {
  z-index: 1;
  color: #ffb548;
}

@media (max-width: 700px) {
  .image-hero {
    width: 95%;
    height: 250px !important;

    animation: none !important; /* Disables the animation */
  }
  .hero-images::before {
    width: 95%;
    height: 250px !important;
  }

  .hero-images {
    height: 350px;
    position: relative;
  }

  .title-section {
    height: 135px;
    width: 100%;
    position: absolute;
    bottom: 0%;
  }

  .green-title {
    width: 90%;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    z-index: 10000 !important;
    /* transform:translatex(20px) ;  */
  }
  .green-title h1 {
    font-size: 25px;
  }

  .green-title::after {
    border-radius: 5px;
    width: 135%;
    transform: translateY(-50%);
    right: -17%;
  }
  .white-title .hero-icon {
    display: none;
  }
  /* .image-Union {
    display: none;
  } */
  .white-title {
    margin-right: 5%;
    margin-top: 20px;
    width: 90%;
    height: 38px;
    /* transform:translatex(20px) ;  */
    border-top-left-radius: 60px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 60px;

    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
  .white-title p {
    font-size: 12px;
  }
}
