html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
@font-face {
  font-family: "MyFont";
  src: url("../Assests/Font.ttf") format("truetype");
}
@font-face {
  font-family: "MyFont-english2";
  src: url("../Assests/GothamBook.ttf") format("truetype");
}
body {
  font-family: "MyFont";
  word-spacing: -1px !important;
  background-color: #f6f5f4;
  direction: rtl;
}
body[lang="en"] {
  direction: ltr;
}
* {
  box-sizing: border-box;
  font-family: "MyFont";
}
body {
  margin: 0;
  direction: rtl;
  font-family: "MyFont";
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
  position: relative;
}
.container-for-hero {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.start {
  margin-top: 120px !important;
  width: 72%;
  margin: auto;
  position: relative;
}
@media (max-width: 768px) {
  .start {
    margin-top: 20px !important;
    width: 90%;
  }
  .container {
    width: 90%;
  }
}
.border-with-title-under-it {
  width: fit-content;
  color: #31544b;
  font-size: 19px;
}
.border-bottom {
  margin-top: -27px !important;
  border-bottom: 4px solid #ffb548;
}
.Paragraph p {
  text-align: justify;
  font-size: 19px;
  line-height: 37px;
}
.border-with-title-under-it-center {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #31544b;
  font-size: 19px;
}
.border-with-title-under-it-center > .border-bottom {
}
@media (min-width: 568px) {
  .container-for-hero {
    width: 80%;
    margin: auto;
    position: relative;
  }
}
.background-container {
  z-index: 1;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: url("Images/fallback.jpg") center center / cover no-repeat; */
}
.background-container .bgvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(1800deg) !important;
}

.Gridiant {
  background: linear-gradient(
    115.76deg,
    #31544b 44.42%,
    rgb(255, 182, 72) 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0.75;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  position: absolute;
  top: 40px;
  right: 10%;
  display: flex;
  align-items: center;
  z-index: 99;
}
.logo {
  height: 80px;
  margin-left: 15px;
}
.anchor {
  text-decoration: none;
  color: #ffb548;
  background-color: #31544b;
  padding: 14px 60px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
  position: relative;
}

.anchor::before {
  content: "";
  position: absolute;
  top: 47%;
  right: 1%;
  width: 20px;
  height: 20px;
  background-color: #31544b;
  transform: rotate(945deg) translateY(50%) !important;
  transform-origin: center center;
}

.content {
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  text-align: center;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2999 !important;
  flex-direction: column;
}

.play-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.704);
  width: 60px;
  height: 60px;
  z-index: 9999999999999999999999999999999 !important;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.play-button:hover {
  width: 150px;
  background-color: #31544b;
}
.play-button:hover i {
  color: white;
}

.play-button i {
  color: #31544b;
  margin: 0px 0px 0px 3px;
  padding: 0pc;
  font-size: 24px;
}

.content p {
  margin-top: 10px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .start {
    margin-top: 20px !important;
    width: 90%;
  }
  .container {
    width: 90%;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 10000000000000000 !important;
}
.popup-content {
  position: relative;
  border-radius: 10px;
}
.popup-content video {
  width: 1500px !important;
  height: auto;
  display: block;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffb548;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.3s;
}
.close-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.video-player {
  width: 100%;
  margin: 0 auto;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  max-width: 960px;
}

:root {
  --plyr-color-main: #feb545;
}

.plyr__video-embed,
video {
  max-width: 100%;
  /* border-radius: 12px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .header {
    right: 20%;
  }
}

@media (max-width: 435px) {
  .header {
    right: 10%;
  }
}
