.menu-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 8%;
  width: fit-content;
  z-index: 999999888888 !important;
}

body[lang="en"] {
  .menu-container {
    left: 0;
  }
  .main-menu {
    padding: 40px;
    padding-right: 15px;
    padding-left: 40px;
  }

  .main-menu .section.active::before {
    content: "";
    position: absolute;
    left: 100%;
  }

  .main-menu .section.active::after {
    content: "";
    position: absolute;
    left: 103%;
  }
  /* .image-Union {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%);
    left: 2.6%;
  } */

  @media (max-width: 768px) {
    .burger {
      left: unset;
      right: 10%;
    }
    .mobile-menu .section::after {
      left: unset;
      right: 5%;
    }
  }
  @media (max-width: 480px) {
    .burger {
      left: unset;
      right: 4%;
    }
    .mobile-menu .section::after {
      left: unset;
      right: 5%;
    }
  }
  @media (max-width: 425px) {
    .burger {
      left: unset;
      right: 1%;
    }
    .mobile-menu .section::after {
      left: 315px;
    }
  }
}

.main-menu {
  width: 220px;
  max-height: 400px;
  min-height: 400px;
  background-color: #4e6a63;
  color: white;
  padding: 40px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

.main-menu a {
  color: white;
}

.main-menu .section {
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}
.main-menu a {
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.submenu.active {
  visibility: visible;
  opacity: 1;
}

.menu-container > .main-menu > .active-color {
  color: #ffb72b !important;
  font-weight: bold;
}
.menu-container > .main-menu > .active-color:hover {
  color: #ffb72b !important;
  font-weight: bold;
}
.main-menu .section:hover {
  color: #193028;
  font-weight: 200;
}

/* .main-menu #active2 {
  color: #ffb72b;
  font-weight: bold;
}
.main-menu #active2:hover {
  color: #ffb72b;
  font-weight: bold;
} */

.main-menu a.active {
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}

.main-menu .section.active::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}

.main-menu .section.active::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 30px;
  background-color: #ffb72b;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.menu-divider {
  width: 7px;
  background-color: #193028;
  min-height: 350px;
  margin: auto 0px;
  border-radius: 50px;
}

.submenu {
  border-radius: 10px;
  width: 250px;
  min-height: 400px;
  background-color: #efefef;
  padding: 15px 30px;
  justify-content: center;
  display: none;
  flex-direction: column;
  z-index: 1;
}

.submenu.active {
  display: flex;
}

.submenu .active {
  color: #193028 !important;
  font-weight: 600;
}

.submenu .page {
  margin-bottom: 10px;
  color: #787878;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
}

.submenu .page:hover {
  color: #4e6a63;
}

.burger {
  display: none;
  background-color: #34594d;
  color: white;
  padding: 15px;
  text-align: right;
  cursor: pointer;
}

.menu-divider {
  display: none; /* hide by default */
  width: 7px;
  background-color: #193028;
  min-height: 350px;
  margin: auto 0px;
  border-radius: 50px;
}

.menu-divider.active {
  display: block;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #34594d;
  color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  z-index: 99999;
}

.mobile-menu .section {
  padding: 15px;
  border-top: 1px solid #4e6b61;
  cursor: pointer;
  position: relative;
}

.mobile-menu .section::after {
  content: "\25BC";
  position: absolute;
  left: 15px;
  font-size: 14px;
  transition: transform 0.3s ease;
}
a.page {
  color: white;
}
.mobile-menu .section:last-of-type::after {
  content: none;
}

.mobile-menu .section.active::after {
  transform: rotate(180deg);
}

.mobile-submenu {
  display: none;
  background-color: #f4f4f4;
  color: #333;
  padding: 15px;
}
.mobile-submenu .page {
  min-width: 100%;
  display: block;
  color: #333;
  padding: 15px;
}

.mobile-submenu.active {
  display: block;
}
@keyframes fadeSlideInRight {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* .image-Union {
  width: 27px;
  height: 27px;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #193028;
  position: absolute;
  bottom: 26%;
  right: 2.6%;
  animation: fadeSlideInRight 0.8s ease-out forwards;
  opacity: 0;
  z-index: -1;
} */

@media (max-width: 1025px) {
  /* .image-Union {
    right: 1.6%;
  } */
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }
  .burger {
    background-color: #34594d;
    color: white;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    width: fit-content;
    display: block;
    position: absolute;
    top: -65px;
    left: 10%;
    z-index: 989;
    border-radius: 5px;
  }
  /* .image-Union {
    display: none;
  } */
}

@media (max-width: 568px) {
  .mobile-submenu .page {
    flex-direction: column !important;
  }
  .burger {
    top: -65px;
    left: 3%;
  }
}
@media (min-width: 480px) {
}
