.start {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.award {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 0px 0px;
  width: 30%;
  margin-bottom: 30px;
}
.award img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 175px;
  margin-bottom: 10px;
}
.award p {
  text-align: center;
  font-size: 18px;
  color: #30444e;
  margin: 10px 15px 0px 15px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .award {
    margin-top: 0px;
  }
  .award {
    width: 80%;
    margin-bottom: 30px;
  }
}
