

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  max-height: 500px !important;
}

.chartAr,
.chartEn {
  width: 100%;
  height: 500px;
  display: none !important;
  /* visibility: hidden !important; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

body[lang="ar"] .chartAr,
body[lang="en"] .chartEn {
  display: block !important;
  /* visibility: visible !important; */
  position: relative;
  opacity: 1;
  pointer-events: auto;
}


body[lang="en"] {
  .chartAr {
    display: none !important;
  }
  /* .contain-numbers-and-chart {
    flex-direction: row-reverse;
  } */

  /* .contain-numbers-and-chart .fix-chart {
    flex-direction: row-reverse;
  } */
  .line-and-numbers .number {
    flex-direction: row-reverse;
  }
  /* .line-and-numbers {
    align-items: flex-end;
  } */

  .titles-for-chart .title-color {
    margin-right: 10px;
    margin-left: 0px;
  }


}
