.mills-container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
}

.mills-section {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ded6d6;
  border-radius: 8px;
  display: flex;
  text-align: right;
  gap: 40px;
}

.mills-product-card {
  flex: 1 300px;
  border-radius: 8px;
  padding: 0px 20px;
  width: 60%;
  overflow: hidden;
}

.mills-product-desc {
  font-size: 20px;
  color: #4e6a63;
  line-height: 2.3rem;
  margin-bottom: 15px;
  text-align: justify;
}

.mills-product-image {
  width: 35%;
  object-fit: contain;
  border-radius: 12px;
}
.mills-product-image-s {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 30px;
}
.mills-product-image-s img {
  width: 100%;
}

.img-last {
  width: 65% !important;
}

@media (max-width: 991px) {
  .mills-section {
    flex-direction: column;
    text-align: center;
    padding: 0px 25px;
    gap: 0px;
  }

  .mills-product-card {
    width: 100%;
  }
  .mills-product-image {
    width: 100%;
    margin: 20px 0;
  }
  .mills-product-image-s {
    width: 100%;
    margin: 0px;
  }

  .mills-product-card {
    padding: 10px;
  }

  .mills-product-desc {
    line-height: 2.2rem;
    margin-bottom: 0px !important;
  }

  .mills-intro p,
  .mills-product-desc {
    font-size: 16px;
  }
}
