.executive-wrapper {
  position: relative;
  margin-top: 270px !important;
}

/* the orange name bar absolutely at bottom */
.executive-name-bar {
  width: 100%;
  min-height: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../Images/BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background: linear-gradient(
    to right,
    #5a7163,
    #5a7163,
    #a98146,
    #edb35d,
    #edb35d
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 100px;
  z-index: 1;
  position: relative;
}

/* rest same as before */

.executive-image {
  height: 200px;
  position: absolute;
  top: -125%;
  right: 5.6%;
  transform: translateY(10%);
}

.executive-image img {
  z-index: 1 !important;
  width: 100%;
}
/* Extra Extra Large Devices: 1400px and up */
@media (min-width: 1400px) {
  /* the orange name bar absolutely at bottom */
  .executive-name-bar {
    min-height: 270px;
    height: 270px;
  }
  .executive-image img {
    height: 530px;
  }
}
/* Extra Large Devices: 1200px – 1399.98px */
@media (min-width: 1300px) and (max-width: 1400px) {
  /* the orange name bar absolutely at bottom */
  .executive-name-bar {
    min-height: 240px;
    height: 240px;
  }
  .executive-image img {
    height: 500px;
  }
}
/* Extra Large Devices: 1200px – 1399.98px */
@media (min-width: 1200px) and (max-width: 1300px) {
  /* the orange name bar absolutely at bottom */
  .executive-name-bar {
    min-height: 240px;
    height: 240px;
  }
  .executive-image img {
    height: 470px;
  }
}

/* Large Devices: 992px – 1199.98px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* the orange name bar absolutely at bottom */
  .executive-name-bar {
    min-height: 260px;
    height: 260px;
  }
  .executive-image img {
    height: 450px;
  }
}
/* Medium Devices: 768px – 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* the orange name bar absolutely at bottom */
  .executive-name-bar {
    min-height: 260px;
    height: 260px;
  }
  .executive-image img {
    height: 300px;
  }
}

/* Small Devices: 576px – 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .executive-image img {
    height: 400px;
  }
}

.executive-text {
  max-width: 60% !important;
  margin-inline-start: auto;
  padding: 0px 90px 0 0;
}
.executive-text p {
  font-size: 19px;
  line-height: 36px;
  color: #31544b;
  text-align: justify;
  line-height: 30px;
}

.name-box {
  color: white;
  text-align: right;
}
.name-box h3 {
  font-size: 2.3rem;
  margin: 0;
  font-weight: bold;
}
.name-box p {
  font-size: 1.3rem;
  color: #ffd891;
  margin: 5px 0 0;
}
/* second section */

/* Some P under each other */

.Paragraph > h1 {
  margin-top: 50px;
  /* background-color: red; */
}

.Paragraph h2 {
  color: #000000;
  margin-top: 40px;
  margin-bottom: 10px;
}
.Paragraph h1 {
  margin-bottom: 24px;
  font-size: 27px;
  color: #000000;
}
.Paragraph ul {
  font-weight: 400;
  font-size: 19px;
  line-height: 37px;
}

/* .delete-for-mobile {
  display: inline;
}*/

.delete-for-desktop {
  display: none;
}

@media (max-width: 768px) {
  .executive-wrapper {
    padding-bottom: 0px; /* reserve space for the name bar */
    margin-top: 356px !important;
  }
  .executive-image,
  .executive-image-big {
    position: absolute !important;
    top: 0px !important;
    right: 23% !important;
    width: 50%;
  }
  .executive-image {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0% !important;
    width: 50%;
    right: 23% !important;
    transform: translateX(-30%) !important;
    transform: translateY(-65%) !important;
  }

  .executive-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .executive-name-bar {
    width: 100%;
    grid-area: name;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .delete-for-mobile {
    display: none;
  }

  .delete-for-desktop {
    display: inline;
  }
  .name-box {
    width: 100% !important;
    text-align: center;
    color: white;
    margin: 0px !important;
    width: 100% !important;
    padding: 100px 0px 0px 0px !important;
  }
  .name-box h3 {
    font-size: 25px;
  }
  .name-box p {
    font-size: 16px;
  }

  .executive-text {
    grid-area: text;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px;
    text-align: justify;
  }

  .executive-text p {
    font-size: 16px;
    line-height: 28px;
  }

  .executive-wrapper {
    grid-template-rows: auto auto auto;
    height: auto;
  }

  .executive-top {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .executive-text {
    max-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .executive-wrapper {
    padding-bottom: 0px; /* reserve space for the name bar */
    margin-top: 100px !important;
  }
  .executive-image,
  .executive-image-big {
    position: absolute !important;
    top: 20% !important;
    right: 23% !important;
    width: 50%;
  }
}
body[lang="en"] {
  #flip {
    transform: scaleX(-1);
  }
  .executive-name-bar {
    padding-right: 120px;
    padding-left: 520px;
  }
  .executive-image {
    height: 100px;
    position: absolute;
    /* top: -125%; */
    right: 55.6%;
    transform: translateY(10%);
  }
  .name-box {
    text-align: left;
  }
  .executive-image1 {
    left: 80px !important;
    bottom: -570px;
  }
  .executive-image2 {
    left: 80px !important;
    bottom: -492px;
  }
  .executive-image3 {
    left: 80px !important;
    bottom: -540px;
  }

  .executive-text {
    max-width: 60%;
    margin-inline-start: auto;
    padding: 0px 0px 0 90px;
    z-index: 2;
  }
  /* @media (max-width: 1500px) {
.executive-image1 {
  left: 20px !important;

  bottom: -570px ;
}
.executive-image2 {
  left: 80px !important;
  bottom: -492px ;
}
.executive-image3 {
  left: 80px !important;
  bottom: -540px;
}

} */
  /* @media (max-width: 1600px) {
  .executive-image1 {
    bottom: -570px;
    left: 80px !important;
  }
  .executive-image2 {
    left: 83px !important;
    bottom: -500px;
  }
  .executive-image3 {
    bottom: -535px;
    left: 83px !important;
  }
}
@media (max-width: 1441px) {
  .executive-image1 {
   bottom: -570px;
    left: 66px !important;
  }
  .executive-image2 {
    bottom: -530px;
    left: 70px !important;
  }
  .executive-image3 {
    bottom: -530px;
    left: 65px !important;
  }
}
@media (max-width: 1024px) {

  .executive-image1 {
    bottom: -530px;
    left: 9% !important ;
  }
  .executive-image2 {
    bottom: -460px;
    right: 9%;
  }

  .executive-image3 {
    bottom: -458px;
    right: 9%;
  }
  .executive-name-bar {
    height: 300px;
    padding-left: 60px;
    background: radial-gradient(
        circle at 27% top,
        #f6f5f4 0px,
        #f6f5f4 180px,
        transparent 180px
      ),
      linear-gradient(to left, #31544b, #eda842);
   padding-right: 40px;
  padding-left: 340px;
  }
  .name-box h3 {
    font-size: 30px;
  }
  .name-box p {
    font-size: 18px;
  }

  .executive-text {
    max-width: 80%;
    padding: 0px 0px 0px 200px;
  }
} */
  @media (max-width: 768px) {
    /* move radial to center at 50% top */
    .executive-name-bar {
      width: 100%;
      height: 220px;

      padding-left: 0;
      padding-right: 0;
    }
    .name-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .executive-image,
    .executive-image-big {
      position: absolute !important;
      top: 0px !important;
      right: 23% !important;
      width: 50%;
    }
    .executive-image {
      height: fit-content;
      width: fit-content;
      position: absolute;
      top: 0% !important;
      width: 50%;
      right: 23% !important;
      transform: translateX(-30%) !important;
      transform: translateY(-65%) !important;
    }
    .executive-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .executive-text {
      max-width: 100%;
      padding: 0px;
    }
  }
  @media (max-width: 480px) {
    .executive-wrapper {
      padding-bottom: 0px; /* reserve space for the name bar */
      margin-top: 100px !important;
    }
    .executive-image,
    .executive-image-big {
      position: absolute !important;
      top: 20% !important;
      right: 23% !important;
      width: 50%;
    }
  }
}
