/* 4 cards with circle */
.four-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.four-cards .card-4 {
  background-color: white;
  /* padding: 30px 50px 30px 0px; */
  text-align: center;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.four-cards h3 {
  font-size: 60px;
  color: #c6822a;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 40px;
  padding-bottom: 40px;
}

.four-cards p {
  font-size: 30px;
  color: #FFB548;
  line-height: 30px;
  font-weight: 500;
}
.circle-green {
  position: absolute;
  width: 302.22px;
  height: 302.22px;
  background-color: #163029;
  border-radius: 50%;
  top: 50%; /* Centered vertically relative to the container */
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the circle at the border between the second and fifth divs */
  z-index: 1; /* Ensure it stays on top of the divs */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.circle-content {
  font-size: 20px;
  color: #Fcb44a;
  text-align: center;
  z-index: 2; /* Ensures text is on top of the circle */
}
.circle-content h2 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.four-cards div:nth-child(2) {
  justify-content: flex-start;
  background: radial-gradient(
    circle at bottom left,
    transparent,
    transparent 180px,
    #ffffff 30px,
    #ffffff
  );
  text-align: right;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 100px;
}
.four-cards div:nth-child(3) {
  justify-content: flex-start;
  background: radial-gradient(
    circle at bottom right,
    transparent,
    transparent 180px,
    #ffffff 30px,
    #ffffff
  );
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  text-align: center;
  padding: 90px 200px 30px 50px;
}

.four-cards div:nth-child(4) {
  justify-content: flex-end;
  background: radial-gradient(
    circle at top left,
    transparent,
    transparent 180px,
    #ffffff 12px,
    #ffffff
  );
  text-align: right;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: center;
  padding: 100px 100px 30px 150px;
}
.four-cards div:nth-child(5) {
  justify-content: flex-end;
  background: radial-gradient(
    circle at top right,
    transparent,
    transparent 180px,
    #ffffff 12px,
    #ffffff
  );
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  text-align: center;
  padding: 90px 140px 30px 10px;
}
.four-cards div:nth-child(2) h3 {
  padding-bottom: 20px;
}

.four-cards div:nth-child(5) h3 {
  padding-bottom: 20px;
}

.card-4 img{
  width: 66.73px;
  height: 66.73px;
  margin-bottom: 20px;
}

 /* 4 cards with circle ends*/
@media (max-width: 1024px){
 
  

}
 @media screen and (max-width: 768px) {
  .circle-green {
  width: 200px;
  height: 200px;
  transform: translate(
    -50%,
    -50%
  );
}
.circle-content h2 {
  font-size: 20px;
}
.card-4 {
  height: 180px;
}
.card-4 img {
  width: 48px;
  height: 48px;
}
.four-cards div:nth-child(2) {
  background: radial-gradient(
    circle at bottom left,
    transparent,
    transparent 120px,
    #ffffff 30px,
    #ffffff
  );}
  .four-cards div:nth-child(3) {
    background: radial-gradient(
      circle at bottom right,
      transparent,
      transparent 120px,
      #ffffff 30px,
      #ffffff
    );}
    .four-cards div:nth-child(4) {
      background: radial-gradient(
        circle at top left,
        transparent,
        transparent 120px,
        #ffffff 12px,
        #ffffff
      );}
      .four-cards div:nth-child(5) {
        background: radial-gradient(
          circle at top right,
          transparent,
          transparent 120px,
          #ffffff 12px,
          #ffffff
        );}
.four-cards div:nth-child(2),
.four-cards div:nth-child(4) {
  padding: 30px 50px 20px 110px;
}
.four-cards div:nth-child(3),
.four-cards div:nth-child(5) {
  padding: 30px 110px 20px 30px;
}
    
 }

 @media (max-width: 480px){
 .card-4 {
  height: 80px;
}
.circle-green {
  width: 120px;
  height: 120px;
  transform: translate(
    -43%,
    -50%
  );
}
.four-cards div:nth-child(2) {
  background: radial-gradient(
    circle at bottom left,
    transparent,
    transparent 80px,
    #ffffff 30px,
    #ffffff
  );}
  .four-cards div:nth-child(3) {
    background: radial-gradient(
      circle at bottom right,
      transparent,
      transparent 80px,
      #ffffff 30px,
      #ffffff
    );}
    .four-cards div:nth-child(4) {
      background: radial-gradient(
        circle at top left,
        transparent,
        transparent 80px,
        #ffffff 12px,
        #ffffff
      );}
      .four-cards div:nth-child(5) {
        background: radial-gradient(
          circle at top right,
          transparent,
          transparent 80px,
          #ffffff 12px,
          #ffffff
        );}
.four-cards div:nth-child(2),
.four-cards div:nth-child(4) {
  padding: 60px 40px 20px 50px;
}
.four-cards div:nth-child(3),
.four-cards div:nth-child(5) {
  padding: 60px 60px 20px 20px;
}
.circle-content h2 {
  padding-top: 15px;
  font-size: 12px;
  line-height: 15px;
}
.four-cards p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
  

}