/* 4 cards with circle */
.four-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 35px;
  text-align: center;
  position: relative;
}

.four-cards .card-4 {
  background-color: white;
  text-align: center;
  height: 275px;
  /* background-color: red !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
  position: relative;
}

.four-cards p {
  font-size: 27px;
  line-height: 32px;
  color: #ffb548;
  font-weight: 800;
}
.circle-grey {
  background-color: rgba(128, 133, 132, 0.2);
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%; /* Centered vertically relative to the container */
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 4;
}
.circle-green {
  /* border: 30px solid #f6f5f4; */
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: #163029;
  padding: 50px;
  border-radius: 50%;
  top: 50%; /* Centered vertically relative to the container */
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the circle at the border between the second and fifth divs */
  z-index: 1; /* Ensure it stays on top of the divs */
  display: flex;
  justify-content: center;
  align-items: center;
}
.four-cards div:nth-child(2),
.four-cards div:nth-child(4) {
  padding: 30px 120px 20px 140px;
}
.four-cards div:nth-child(3),
.four-cards div:nth-child(5) {
  padding: 30px 130px 20px 80px;
}
.circle-content {
  font-size: 20px;
  color: #fcb44a;
  text-align: center;
  z-index: 2; /* Ensures text is on top of the circle */
}
.circle-content h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* 4 cards with circle ends*/

.four-cards-section {
  overflow: hidden;
  background-color: #fff;
  padding: 35px;
}
.Blue-span {
  color: #31544b;
  font-weight: 700;
}
.four-cards-title-center,
.four-cards-title {
  text-align: center;
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #31544b;
  font-size: 19px;
}
.four-cards-title {
  justify-content: flex-start;
  padding-right: 20px;
}
.four-cards-body ul {
  color: #000000;
  font-size: 16px;
  line-height: 37px;
   
padding-right: 50px;
  padding-left: 0px;

}
.four-cards-body li::marker {
  color: #ffb548;
}

/* four  cards only */
.four-cards-only {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.one-card {
  width: 24%;
  margin-bottom: 60px;
  background-color: #efefef;
  padding: 30px;
  position: relative;
  text-align: center;
  border-top: 8.57px solid #ffb548;
}

.logo-div span {
  font-weight: 400;
  font-size: 20px;
  line-height: 43.7px;
}
.logo-div {
  height: 40px;
  aspect-ratio: cos(4deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background: #31544b;
  color: white;
  right: 18px;
  top: -70px;
  transform: translateY(20px);
  scale: 2;
  font-weight: bold;
  color: white;
  position: absolute;
}

.one-card h1 {
  font-size: 24px;
  font-weight: 700;
  color: #31544b;
  margin-top: 10px;
  vertical-align: center;
  line-height: 40px;
}
.one-card p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: 30px;
  vertical-align: center;
  line-height: 25px;
  text-align: center;
}

/* four  cards only ends*/

@media (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .circle-green {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
  }
  .circle-grey {
    width: 260px;
    height: 260px;
  }
  .circle-content h2 {
    font-size: 20px;
  }
  .card-4 {
    height: 180px;
  }
  .card-4 img {
    width: 48px;
    height: 48px;
  }

  .four-cards div:nth-child(2),
  .four-cards div:nth-child(4) {
    padding: 30px 50px 20px 110px;
  }
  .four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 30px 110px 20px 30px;
  }
  .one-card {
    width: 33%;
  }
  .four-cards-only {
    justify-content: space-around;
    gap: 3px;
  }

    body[lang="en"] {
    .four-cards div:nth-child(3), .four-cards div:nth-child(5) {
        padding: 10px 40px 10px 50px;
    }
  }
}

@media (max-width: 480px) {
  .card-4 {
    height: 80px;
  }
  .circle-green {
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
  }
  .circle-grey {
    width: 180px;
    height: 180px;
  }

  .four-cards div:nth-child(2),
  .four-cards div:nth-child(4) {
    padding: 10px 40px 10px 50px;
  }
  .four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 10px 60px 10px 20px;
  }
  .circle-content h2 {
    padding-top: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .four-cards p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }
  .one-card {
    width: 100%;
  }
}

.number-english{
  display: none;
}
body[lang="en"] {
  .number-english{
  display: inline;
}
  .four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 30px 130px 20px 150px;
  }

  .logo-div {
    left: 20px;
  }
  .four-cards-title {
  padding-right: 0px;
  padding-left: 20px;
}
  .four-cards-body ul {
padding-right: 0px;
  padding-left: 50px;

}
@media (max-width: 1024px) {
.four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 100px 10px 100px 150px;
  }
  .four-cards div:nth-child(2),
  .four-cards div:nth-child(4) {
    padding: 10px 150px 10px 10px;
  }



}
@media (max-width: 768px) {
.four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 50px 30px 50px 90px;
  }
  .four-cards div:nth-child(2),
  .four-cards div:nth-child(4) {
    padding: 10px 70px 10px 50px;
  }

}
 @media (max-width: 480px) {
.four-cards div:nth-child(3),
  .four-cards div:nth-child(5) {
    padding: 30px 40px 20px 20px;
  }

  
 }
}
