.title-with-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #4e6a63;
  font-size: 14px;
  font-weight: 500;
  padding-right: 30px;
}
.intersect {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0%;
  background: url(../Images/Intersect.png) no-repeat center;
  background-size: 100% 100%;
}

.list-big {
  padding-top: 24px;
}
.list-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 15px;
}
.circle-blue {
  width: 64px;
  height: 64px;
  background-color: #31544b;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.number-orange {
  color: #fcb44a;
  font-weight: 700;
  font-size: 24px;
}
.arrow-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4e6a63;
  font-size: 22px;
  font-weight: 500;
  padding: 14px;
  padding-left: 16px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.arrow-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 40px;
  width: 90%;
  font-size: 20px;
}
.four-cards-only {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.one-card {
  width: 24%;
  margin-bottom: 60px;
  background-color: #ffffff;
  /* padding: 30px; */
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text-padding {
  padding: 20px;
  padding-top: 100px;
  text-align: right;
}
.text-padding span {
  font-size: 18px;
}
.one-card h3 {
  position: absolute;
  padding-right: 78px;
  padding-left: 5px;
  top: -28px;
  z-index: 1;
  background-color: #ffb548;
  height: 84px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #31544b;
  vertical-align: center;
  text-align: right;
}

.logo-div span {
  font-size: 20px;
  line-height: 43.7px;
}
.logo-div {
  height: 40px;
  aspect-ratio: cos(4deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background: #31544b;
  color: white;
  right: 14px;
  top: -60px;
  transform: translateY(20px);
  scale: 1.9;
  font-weight: 700;
  color: white;
  position: absolute;
  z-index: 2;
}

.one-card p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  vertical-align: center;
  text-align: right;
  padding-left: 50px;
  line-height: 30px;
}

@media screen and (max-width: 1025px) {
  .circle-blue {
    width: 50px;
    height: 50px;
    margin-right: 0px;
  }
  .number-orange {
    font-size: 20px;
  }
  .arrow-div {
    font-size: 18px;
  }
  .one-card {
    width: 45%;
  }
  .one-card h3 {
    padding-right: 40px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .title-with-arrow {
    font-size: 12px;
    padding-right: 20px;
  }

  .list-text {
    padding-bottom: 10px;
  }
  .intersect {
    width: 15px;
    height: 15px;
  }
  .arrow-div {
    padding: 10px;
    font-size: 12px;
  }

  .circle-blue {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }
  .circle-blue p {
    font-size: 13px;
    font-weight: 500;
  }

  .arrow-text {
    /* padding-right: 20px; */
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item.wide {
    grid-column: span 1;
    padding-left: 230px;
  }
  .grid-item.wide {
    padding-left: 0px;
  }
  .one-card {
    width: 45%;
  }
  .one-card h3 {
    padding-right: 80px;
    padding-left: 0px;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .circle-blue {
    width: 30px;
    height: 30px;
    margin-right: 2px;
    padding: 7px;
  }
  .one-card {
    width: 100%;
  }

  .one-card p {
    font-size: 12px;
  }
  .one-card h3 {
    padding-right: 10px;
    height: 64px;
    font-size: 18px;
  }
  .logo-div {
    right: 9px;
    scale: 1.5;
  }
  .text-padding {
    padding-top: 60px;
  }
}
