/* ten cards */

.ten-cards {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.one-card {
  width: 24%;
  margin-bottom: 60px;
  background-color: white;
  padding: 35px 20px 60px 20px;
  position: relative;
  text-align: center;
  border-top: 12px solid #ffb548;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-div {
  height: 40px;
  aspect-ratio: cos(4deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background: #31544b;
  color: white;
  right: 18px;
  top: -70px;
  transform: translateY(20px);
  scale: 2;
  font-weight: bold;
  color: white;
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  line-height: 43.7px;
}

.one-card h1 {
  font-size: 20px;
  font-weight: 400;
  color: #31544b;
  margin-top: 10px;
  vertical-align: center;
  line-height: 40px;
}
.number-english {
  display: none;
}
/* ten cards ends */

/* six cards */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  background-color: #f6f5f4;
  padding-top: 20px;
}

.grid-white {
  background-color: #ffffff !important;
}
.grid-green {
  background-color: #4e6a63 !important;
  color: #ffffff;
}

.grid-item {
  padding: 10px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid-content {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 50px 20px;
}

.grid-item .number {
  font-size: 50px;
  font-weight: bold;
  color: #fcb44a;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 15px 0px 0px;
}
.grid-item h3 {
  font-size: 30px;
  font-weight: bold;
}

.grid-item p {
  color: #31544b;
  font-size: 20px;
  line-height: 1.8;
  padding: 0px 30px 10px 30px;
}

/* six cards ends*/

/* four-cards-with picture  */
.four-cards-section {
  margin-top: 120px;
}
.four-cards-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* background-color: red; */
  padding-top: 20px;
}
.four-item {
  /* width: 42%; */
  /* margin-bottom: 60px; */
  background-color: white;
  padding: 22.5px 20px 22.5px 20px;
  position: relative;
  color: #30444e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.four-item p {
  padding: 0px 10px 0px 35px;
}
/* four-cards-with picture ends */

/* tables */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
.staff-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  position: relative;
}

.staff-table caption {
  color: #31544b;
  font-size: 24px;
  text-align: center;
}
.table-caption {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 15px;
}
.table-caption h3 {
  color: #31544b;
  font-size: 24px;
  text-align: center;
  margin: 2px;
}
.line-caption {
  height: 4px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(252, 180, 74, 0.4);
}

.staff-table thead tr:first-child th {
  background-color: #73837f;
  color: #fff;
  padding: 38px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.staff-table thead tr.highlight th {
  background-color: #ffc46c;
  color: #31544b;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.staff-table td {
  background-color: #fff;
  color: #31544b;
  text-align: center;
  padding: 15px 20px;
  font-size: 18px;
}
.staff-table tr :nth-child(4) {
  color: #000000 !important;
}
.staff-table tr :nth-child(7) {
  color: #000000 !important;
}

.staff-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}

.staff-table tbody tr.highlight td {
  background-color: #ffc46c;
  font-weight: bold;
  color: #31544b;
}
.staff-table thead tr.highlight {
  transform: translateY(-4px);
}
.staff-table tbody {
  transform: translateY(-4px);
}
/* black vertical line between col 4 and 5 using pseudo */
.staff-table::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: calc(63%);
  width: 1px;
  background-color: #73837f;
  z-index: 1;
  height: 95%;
}
.staff-table thead {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
/* second table */

/* third table */
.numbers-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  position: relative;
}

.numbers-table caption {
  color: #31544b;
  font-size: 24px;
  text-align: center;
}

.numbers-table thead tr:first-child th {
  background-color: #73837f;
  color: #fff;
  padding: 38px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 2;
  width: 30%;
}

.numbers-table thead tr.highlight th {
  background-color: #ffc46c;
  color: #3a4944;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.numbers-table td {
  background-color: #fff;
  color: #3a4944;
  text-align: center;
  padding: 15px 20px;
  font-size: 18px;
}

.numbers-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}

.numbers-table tbody tr.highlight td {
  background-color: #ffc46c;
  font-weight: bold;
  color: #3a4944;
}
.numbers-table thead tr.highlight {
  transform: translateY(-4px);
}
.numbers-table tbody {
  transform: translateY(-4px);
}
/* black vertical line between col 4 and 5 using pseudo */
.table-wrapper {
  position: relative;
}

/* absolute vertical lines inside the table wrapper */
.vertical-line {
  position: absolute;
  /* top: 0; */
  bottom: 8px; /* this ensures the line stretches the entire height of the table-wrapper */
  width: 1px;
  background-color: #ddd;
  z-index: 1;
}
.vertical-line-2 {
  position: absolute;
  /* top: 0; */
  bottom: 8px; /* this ensures the line stretches the entire height of the table-wrapper */
  width: 1px;
  background-color: #ddd;
  z-index: 1;
}

/* specific positions of your lines */
.vertical-line.line1 {
  right: 32.3%;
  height: 280px;
}
.vertical-line.line2 {
  right: 70.3%;
  height: 280px;
}
.vertical-line-2.line1 {
  right: 32.3%;
  height: 280px;
}
.vertical-line-2.line2 {
  right: 70.3%;
  height: 280px;
}
.numbers-table thead {
  border-collapse: collapse;
  border-spacing: 0 !important;
}

/* third table */

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  margin-top: 40px;
}

.custom-table thead tr {
  transform: translateY(5px);
}

.custom-table th {
  background-color: #73837f;
  color: white;
  padding: 34px 40px 34px 40px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.custom-table td {
  background-color: #ffc46c;
  color: #3a4944;
  padding: 15px 40px 15px 40px;
  font-size: 18px;
}
.custom-table th,
.custom-table td {
  width: 33.33%;
}

.custom-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}
/* second table */

/* tables ends*/

/* final cards */
.final-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.final-card {
  width: 32%;
  margin-bottom: 25px;
  background-color: white;
  padding: 30px 30px 90px 30px;
  position: relative;
  text-align: center;
  border-top: 12px solid #a2acaa;
}
.final-cards :nth-child(5) {
  border-top: 12px solid #fcb44a;
}

.final-cards :nth-child(3),
.final-cards :nth-child(6) {
  border-top: 12px solid #858e8b;
}

.final-card h1 {
  font-size: 23px;
  font-weight: 700;
  color: #a2acaa;
  margin-top: 0px;
  vertical-align: center;
  text-align: right;
  line-height: 40px;
}

.final-card p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: 30px;
  vertical-align: center;
  text-align: right;
}
.highlight-orange {
  color: #fcb44a !important;
}

.highlight-grey-2 {
  color: #858e8b !important;
}

/* fifth-table */

.custom-table-5 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  margin-top: 40px;
}

.custom-table-5 thead tr {
  transform: translateY(5px);
}

.custom-table-5 th {
  background-color: #73837f;
  color: white;
  padding: 34px 40px 34px 40px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.custom-table-5 td {
  background-color: #fff;
  color: #3a4944;
  padding: 15px 40px 15px 40px;
  font-size: 18px;
}

/* Set first column to 35%, others to 16.25% each */
.custom-table-5 th:first-child,
.custom-table-5 td:first-child {
  width: 35%;
}
.custom-table-5 th:not(:first-child),
.custom-table-5 td:not(:first-child) {
  width: 16.25%;
}

.custom-table-5 tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}
.custom-table-5 tbody tr.highlight td {
  background-color: #ffc46c;
  color: #3a4944;
}
/* fifth-table ends*/

/* final cards ends*/
.missing-text-big {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4e6a63;
  font-size: px;
}
@media (max-width: 1026px) {
  .ten-cards {
    justify-content: space-between;
  }
  .one-card {
    width: 32%;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .four-cards-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* background-color: red; */
    padding-top: 20px;
  }
  .four-item p {
    padding: 0px 10px 0px 20px;
  }
  .staff-table th,
  .staff-table td {
    font-size: 0.9rem;
    padding: 12px 15px;
  }
  .final-cards {
    gap: 10px;
  }

  .staff-table::after {
    right: calc(59.3%);
  }
}

@media (max-width: 992px) {
  .one-card {
    width: 48%;
    padding: 35px 20px 30px 20px;
  }
  .final-card {
    padding: 30px 30px 50px 30px;
  }
}

@media (max-width: 768px) {
  .padding-tab {
    padding-top: 40px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .four-cards-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .four-item {
    justify-content: space-between;
  }
  .staff-table th,
  .staff-table td {
    font-size: 0.85rem;
    padding: 10px 12px;
  }
  .final-cards {
    gap: 5px;
  }
  .final-card {
    width: 49%;
    margin-bottom: 10px;
  }
  .staff-table::after {
    right: calc(58.6%);
    height: 490px;
    width: 0.5px;
  }
}

@media (max-width: 480px) {
  .padding-tab {
    padding-top: 0px;
  }
  .one-card {
    width: 100%;
    justify-content: center;
  }

  .four-item {
    flex-direction: column-reverse;
  }
  .staff-table th,
  .staff-table td {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
  .custom-table th {
    padding: 20px 20px 20px 20px;
  }

  .custom-table td {
    padding: 15px 20px 15px 20px;
  }
  .final-card {
    width: 100%;
  }

  .vertical-line.line1 {
    right: 29.3%;
    height: 500px;
  }
  .vertical-line.line2 {
    right: 76.3%;
    height: 500px;
  }
  .vertical-line-2.line1 {
    right: 32.3%;
    height: 300px;
  }
  .vertical-line-2.line2 {
    right: 67.3%;
    height: 300px;
  }
  .staff-table::after {
    right: calc(56.6%);
    height: 500px;
  }
}

.percent-none {
  display: none;
}
body[lang="en"] {
  .percent-none {
    display: inline;
  }
  .logo-div {
    right: 0px;
    left: 18px;
  }
  .number-english {
    display: inline;
  }
  .grid-item {
    text-align: left;
  }
  .grid-item .number {
    padding: 0px 0px 0px 15px;
  }
  .four-item p {
    padding: 0px 50px 0px 10px;
  }
  .staff-table::after {
    right: calc(36%);
    height: 560px;
  }
  .custom-table th {
    text-align: left;
  }
  .final-card h1 {
    text-align: left;
  }

  .final-card p {
    text-align: left;
  }
  .custom-table-5 th {
    text-align: left;
  }

  @media (max-width: 1026px) {
    .staff-table::after {
      right: calc(38.5%);
    }
    .vertical-line.line1 {
      height: 400px;
    }
    .vertical-line.line2 {
      height: 400px;
    }
    .vertical-line-2.line2 {
      right: 64.3%;
      height: 300px;
    }
  }
  @media (max-width: 768px) {
    .staff-table::after {
      right: calc(39.8%);
      height: 450px;
    }
  }
  @media (max-width: 480px) {
    .vertical-line.line1 {
      right: 4.3%;
      height: 400px;
    }
    .vertical-line.line2 {
      right: 63.3%;
      height: 400px;
    }
    .vertical-line-2.line1 {
      right: 32.3%;
      height: 300px;
    }
    .vertical-line-2.line2 {
      right: 67.3%;
      height: 300px;
    }
  }
}
