/* ten cards */

.ten-cards {
  display: flex;
  justify-content:flex-start;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.one-card {
  width: 24%;
  margin-bottom: 60px;
  background-color: white;
  padding: 35px 20px 60px 20px;
  position: relative;
  text-align: center;
  border-top: 12px solid #ffb548;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.logo-div {
  height: 40px; 
  aspect-ratio: cos(4deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: #31544b;
  color: white;
  right: 18px;
  top: -70px;
  transform: translateY(20px);
  scale: 2;
   font-weight: bold;
  color: white;
  position: absolute;
 font-weight: 400;
  font-size: 20px;
  line-height: 43.7px;
}

.one-card h1 {
  font-size: 20px;
  font-weight: 400;
  color: #31544b;
  margin-top: 10px;
  vertical-align: center;
  line-height: 40px;
}
/* ten cards ends */

/* six cards */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  background-color: #F6F5F4;
  padding-top: 20px; 
}
.grid-white{
  background-color: #FFFFFF;
}
.grid-green{
  background-color: #4E6A63;
  color: #FFFFFF;
}


.grid-item {
  padding: 10px;
  text-align: right;
  
}
.grid-content{
  display: flex;
 justify-content: center;
 align-content: center;
  text-align: center;
  padding: 50px 20px;
}


.grid-item .number {
  font-size: 50px;
  font-weight: bold;
  color: #FCB44A;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 15px 0px 0px;
}
.grid-item h3 {
  font-size: 30px;
  font-weight: bold; 
}



.grid-item p {
  color: #31544B;
  font-size: 20px;
  line-height: 1.8;
  padding: 0px 30px 10px 30px ;
}


/* six cards ends*/




@media (max-width: 1025px){
.one-card {
    width: 28%;
  }
    .grid-container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 768px){
.one-card {
    width: 48%;
  }
   .grid-container {
  grid-template-columns: repeat(1, 1fr);
}
}

@media (max-width: 480px){
.one-card {
    width: 100%;
  }
}