.text-block {
  font-size: 20px;
  color: #4e6a63;
  margin: 20px auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.activities_card {
  background-color: #ffffff;
  width: calc(50% - 10px);
  padding: 60px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.activities_card h1 {
  color: #ec822c;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.activities_card p {
  color: #3a4944;
  font-size: 18px;
  margin: 0;
}
.activities_card .p-bold {
  color: #163029;
  font-weight: bold;
}
.activities_card img {
  margin: 10px;
  width: 20%;
}

.circle-cards {
  position: absolute;
  width: 233.74px;
  height: 233.74px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-cards img {
  width: 130%;
}
.align-text-desktop {
  text-align: left;
}

@media (max-width: 992px) {
  .activities_card {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .align-text-desktop {
    text-align: center;
  }
  .activities_card img {
    width: 30%;
  }
  .activities_card.image-last {
    flex-direction: column-reverse;
  }
  .circle-cards {
    position: static;
    transform: none;
    margin: 30px auto;
    width: 250px;
    height: 250px;
  }
  .circle-cards {
    display: none;
  }
  .circle-cards img {
    width: 100%;
  }

  .desktop-only {
    display: none;
  }
}

@media (max-width: 576px) {
  .activities_card h1 {
    font-size: 32px;
  }

  .activities_card p {
    font-size: 16px;
  }

  .text-block {
    font-size: 16px;
    padding: 0 10px;
  }
}

.percent-none {
  display: none;
}

body[lang="en"] {
  .activities_card {
    text-align: left;
  }

  .align-text-desktop {
    text-align: right;
  }
  .percent-none {
    display: inline;
  }
  .icon-english {
    transform: translateX(110px);
  }
  .gap-english {
    gap: 0px;
  }
  .padding-english {
    padding: 0px 100px;
  }

  @media (max-width: 1025px) {
    .padding-english {
      padding: 0px 40px;
    }
    .icon-english {
      transform: translateX(50px);
    }
  }
  @media (max-width: 992px) {
    .activities_card {
      text-align: center;
    }
    .align-text-desktop {
      text-align: center;
    }
    .icon-english {
      transform: translateX(0px);
    }
    .padding-english {
      padding: 0px 0px;
    }
  }
}
