.text-block {
  font-size: 20px;
  color: #31544b;
  line-height: 1.8;
  margin: 20px auto;
}

.iso-quality {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px auto;
}

.iso-quality-card {
  flex: 1 1 48%;
  background-color: #163029;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  gap: 57px;
}

.iso-quality-card h3 {
  font-size: 25px;
  margin: 10px auto;
}

.iso-quality-card img {
  margin-top: 20px;
}

.iso-quality-card p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.table-container {
  overflow-x: auto;
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
thead {
  text-align: center;
}
th,
td {
  padding: 20px 30px;
  font-size: 12px;
  font-weight: 700;
  background-color: #ffffff;
}
td {
  color: #31544b;
}

th {
  background-color: #73837f;
  color: white;
  padding: 30px;
  text-align: start;
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}
.changes-to-table tr > td:nth-child(1) {
  display: flex;
}
.changes-to-table tr td .space-for-text {
  min-width: 60px;
  width: 60px;
}

.td-span {
  margin: 0px 30px;
}
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
  margin-top: 0px !important;
}

.custom-table thead tr {
  transform: translateY(5px);
}

.custom-table th {
  background-color: #73837f;
  color: white;
  padding: 34px 40px 34px 40px;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
}

.custom-table td {
  color: #000000;
  padding: 15px 40px 15px 40px;
  font-size: 12px;
  text-align: right;
}

.custom-table th,
.custom-table td {
  width: 70%;
}

/* Center align only the second column */
.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  text-align: center;
}

.custom-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
}
.activities_card {
  background-color: #ffffff;
  width: calc(33.333% - 1px);
  padding: 35px 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  text-align: right;
  align-items: flex-start;
  gap: 30px;
}
.card-grid .activities_card:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .iso-quality {
    flex-direction: column;
    align-items: center;
  }

  .iso-quality-card {
    width: 100%;
    max-width: 400px;
  }

  .card-grid {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .activities_card {
    width: calc(50% - 10px);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .activities_card img {
    margin: 0 auto;
  }

  .text-block {
    font-size: 18px;
    margin: 15px;
  }

  th,
  td {
    padding: 15px 20px;
    font-size: 11px;
  }

  th {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .activities_card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .iso-quality-card h3 {
    font-size: 20px;
  }

  .iso-quality-card p {
    font-size: 13px;
  }

  .activities_card {
    padding: 25px 15px;
    gap: 15px;
  }

  .text-block {
    font-size: 16px;
    line-height: 1.6;
  }

  .custom-table th {
    padding: 20px 40px 20px 40px;
    font-size: 14px;
  }
  .full{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 118px;
  }
}

body[lang="en"] {
  .activities_card {
    text-align: left;
  }

  .custom-table th {
    text-align: left;
  }

  .custom-table td {
    text-align: left;
  }
  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    text-align: center;
  }

  @media (max-width: 992px) {
    .activities_card {
      align-items: center;
      text-align: center;
    }
       .full{
         display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
  }
  }
  @media (max-width: 576px) {
     .full{
    height: 140px;
  }
  }
}
