.text-desc {
  font-size: 25px;
  font-weight: 400;
  color: #4e6a63;
  text-align: justify;
  margin: 20px auto;
}

.three-divs-section {
  width: 100%;
  margin-top: 84px;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card-green {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  /*height: 130px;*/
}
.card-header {
  width: 34%;
  color: #fcb44a;
  background-color: #4e6a63;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  padding-right: 40px;
}
.card-header h3{
  font-size: 25px;
}
.card-text {
  padding: 20px 40px 20px 90px;
  color: #5d5d5d;
  background-color: #ffffff;
  width: 66%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}
.card-text p{
  font-size: 20px;
}

.three-divs-title {
  color: #31544b;
  font-size: 24px;
  text-align: center;
}
.three-divs-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.three-divs-title h3 {
  color: #31544b;
  font-size: 24px;
  text-align: center;
  margin: 2px;
}
.line-caption {
  height: 4px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(252, 180, 74, 0.4);
}

@media (max-width: 1024px) {
  .three-divs-title::before,
  .three-divs-title::after {
    width: 250px;
  }

  .three-divs-title::before {
    right: 68%;
  }

  .three-divs-title::after {
    left: 68%;
  }
  /*.card-green {
    height: 128px;
  }*/
  .card-header {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .three-divs-title::before,
  .three-divs-title::after {
    width: 180px;
  }

  .three-divs-title::before {
    right: 65%;
  }

  .three-divs-title::after {
    left: 65%;
  }
  /*.card-green {
    height: 118px;
  }*/
  .card-header {
    padding-right: 20px;
  }
  .card-text {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 568px) {
  .card-green {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 4px;
  /*height: 130px;*/
}
 .card-header {
    padding-right: 0px;
    width: 100%;
    justify-content: center;
  }
  .card-text {
    padding: 30px;
    margin-top: 5px;
     width: 100%;
  }
}
@media (max-width: 480px) {
  .three-divs-title::before,
  .three-divs-title::after {
    width: 100px;
    top: 41.5%;
  }

  .three-divs-title::before {
    right: 64%;
  }

  .three-divs-title::after {
    left: 64%;
  }

}

body[lang="en"] {
.card-text {
  padding: 20px 90px 20px 40px;
 
  text-align: left;
}

.card-header {
  
  text-align: left;
  padding-right: 0px;
  padding-left: 80px;
}
@media (max-width: 768px) {

  .card-header {
  
  text-align: left;
  padding-right: 0px;
  padding-left: 20px;
}
}

@media (max-width: 480px) {

  .card-text {
 
 padding: 30px;
  
}
.card-header {
  
  text-align: left;
 
  
}

}
}