.section-with-picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  margin-top: 40px;
  background-color: #fff;
  /* height: 360px; */
  padding: 50px;
}

.div-with-pic {
  margin-left: 25px;
}

.div-with-text {
  overflow: hidden !important;
  width: 52%;
  /* padding: 0px 40px 0px 40px; */
  color: #4e6a63;
  font-size: 16px;
}

body[lang="en"] {
  .div-with-pic {
    margin-right: 25px;
    margin-left: 0px;
  }
}

@media (max-width: 750px) {
  .section-with-picture {
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0px !important;
  }
  .div-with-pic {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .div-with-text {
    overflow: hidden !important;
    width: 100%;
    color: #4e6a63;
    font-size: 16px;
  }
}
