.text-desc p {
  color: #4e6a63;
  font-size: 25px;
  word-spacing: 5px;
  text-align: justify;
}
.title-final {
  margin-top: 50px;
  color: #ffffff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.title-final h4 {
  width: 40%;
  background-color: #4e6a63;
  padding: 20px 30px 20px 30px;
  transform: translate(0px, 30px);
  margin: 0;
  z-index: 5;
}

.final-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  flex-wrap: wrap;
}

.final-card {
  margin-bottom: 20px;
  background-color: white;
  padding: 30px 30px 30px 30px;
  position: relative;
  text-align: center;
  border-top: 12px solid rgba(107, 149, 189, 0.7);
}
.final-card.wide {
  grid-column: span 2;
}

.final-cards :nth-child(4),
.final-cards :nth-child(6) {
  border-top: 12px solid rgba(207, 152, 71, 0.6);
}

.final-card p {
  font-size: 22px;
  font-weight: 500;
  color: #333;
  margin-top: 30px;
  vertical-align: center;
  line-height: 25px;
  text-align: center;
}
.highlight-orange {
  color: #fcb44a !important;
}

.highlight-blue {
  color: #858e8b !important;
}

.text-section {
  font-size: 16px;
  color: #676767;
  /* margin: 0; */
}
.text-section p {
  font-weight: lighter;
}

.text-section ul li {
  padding-top: 5px;
}

/* hexagon section */

.honeycomb {
  background: #f6f5f4;
  position: relative;
}

/* base row style */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

/* green row (centered) */
.row-1 .hex {
  width: 250px;
}

/* white row */
.row-2 .hex {
  width: 200px;
}

/* gray row */
.row-3 .hex {
  width: 200px;
}

/* orange row */
.row-4 .hex {
  width: 200px;
}

/* vertical shift to make honeycomb */
.row-2 {
  transform: translateY(-100px);
  gap: 100px;
}
.row-3 {
  transform: translateY(-208px);
  gap: 90px;
}
.row-4 {
  transform: translateY(-325px);
  gap: 100px;
}

/* general hexagon shape */
.hex {
  aspect-ratio: 1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #ccc;
  margin: 0px 70px;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* colors */
.green {
  background: #31544b;
  color: white;
  padding: 0px 30px;
}
.white {
  background: white;
  color: #787878;
}
.gray {
  background: #d0d6d4;
  color: #787878;
}
.orange {
  background: #ffc46c;
  color: #787878;
}
/* hexagon section ends*/

@media (max-width: 1025px) {
  .row-1 .hex {
    width: 180px;
  }
  .row-2 .hex,
  .row-3 .hex,
  .row-4 .hex {
    width: 140px;
  }

  .hex {
    margin: 0 60px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 20px;
  }

  .row-2 {
    transform: translateY(-70px);
  }
  .row-3 {
    transform: translateY(-150px);
  }
  .row-4 {
    transform: translateY(-220px);
  }
}

@media (max-width: 768px) {
  .final-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .title-final h4 {
    width: 70%;
  }
  .row-1 .hex {
    width: 150px;
  }
  .row-2 .hex,
  .row-3 .hex,
  .row-4 .hex {
    width: 130px;
  }

  .hex {
    margin: 0 20px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 17px;
  }

  .row-2 {
    transform: translateY(-60px);
  }
  .row-3 {
    transform: translateY(-120px);
  }
  .row-4 {
    transform: translateY(-180px);
  }
}

@media (max-width: 480px) {
  .title-final h4 {
    width: 90%;
    transform: translate(-5px, 30px);
  }
  .row-1 .hex {
    width: 140px;
  }
  .row-2 .hex,
  .row-3 .hex,
  .row-4 .hex {
    width: 90px;
  }

  .hex {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 10px;
  }

  .row-2 {
    transform: translateY(-40px);
  }
  .row-3 {
    transform: translateY(-80px);
  }
  .row-4 {
    transform: translateY(-120px);
  }
}
