.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px; 
  table-layout: fixed;
  min-width: 600px;
}

.custom-table thead tr {
  transform: translateY(5px); 
}

.custom-table th {
  background-color: #73837F;
  color: white;
  padding: 20px 25px;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
}

.custom-table td {
  background-color: #fff;
  color: #3A4944;
  padding: 15px 20px 15px 20px;
  font-size: 16px;
  vertical-align:baseline;
  
}
.custom-table td p{margin: 0;}
.custom-table th,
.custom-table td {
  /* width: 13.33%;  */
}
.custom-table th:nth-child(3),
.custom-table td:nth-child(3),
.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
    width: 30%;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3),
.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
    width: 40%; /* increase width */
}
.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
    width: 25%
}

.custom-table th,
.custom-table td {
    width: auto; /* Let specific columns override the default */
}


.custom-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}