  .Paragraph p{
    font-size: 25px !important;
  }
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px; 
  table-layout: fixed;
  min-width: 800px;
}

.custom-table thead tr {
  transform: translateY(5px); 
}

.custom-table th {
  background-color: #73837F;
  color: white;
  padding: 20px 25px;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.custom-table td {
  background-color: #fff;
  color: #3A4944;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  vertical-align:baseline;
  
}
.custom-table th:nth-child(8),
.custom-table td:nth-child(8)
 {
    width: 15%; /* increase width */
}
.custom-table th:nth-child(8),
.custom-table td:nth-child(8) {
    width: 15%
}

.custom-table th,
.custom-table td {
    width: auto; /* Let specific columns override the default */
}


.custom-table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/* for s5p10 beacuse it's the same table */
.custom-table caption{
  color:#31544B;
  font-size: 24px;
text-align: center;
}
.table-caption{
  display: flex;
   align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.table-caption h3{
   color:#31544B;
  font-size: 24px;
text-align: center;
margin: 2px;
}
.table-caption h3 p{
   color:#5E6863;
  font-size: 14px;
text-align: center;
margin: 2px;
font-weight: 500;
}
.line-caption{
  height: 4px; 
  display: flex;
  align-items: center;
  flex-grow: 1;
 background-color: rgba(252, 180, 74, 0.4); 
}
.table-first-caption{
display: flex;
justify-content: space-between;
align-items: end;
margin: 0;

}
.table-first-caption h3{
color: #163029;
font-size: 26px;
font-weight: 700;
}

/* for S5p13 */

.custom-table tbody tr.highlight td {
  background-color: #FFC46C;
  /* font-weight: bold; */
  color: #31544B;
}

@media  (max-width: 768px) {
  .Paragraph p{
    font-size: 20px !important;
  }
}