.text-block {
  font-size: 20px;
  color: #31544b;
  line-height: 1.8;
  margin: 20px auto;
}

.text-block2 {
  color: #163029;
}

.list {
  color: #163029;
  font-size: 20px;
  line-height: 0.5;
  margin: 30px auto 50px auto;
}

.table-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.table-caption h3 {
  color: #31544b;
  font-size: 24px;
  text-align: center;
  margin: 2px;
}
.line-caption {
  height: 4px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(252, 180, 74, 0.4);
}

.table-container {
  overflow-x: auto;
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
thead {
  text-align: center;
}
th,
td {
  padding: 20px;
  font-size: 14px;
  background-color: #ffffff;
  text-align: center;
}
td:first-child {
  text-align: start;
}
td:last-child {
  font-weight: bold;
}

th {
  background-color: #73837f;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
th:first-child {
  padding-right: 18px;
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}

.th-date {
  color: #fcb44a;
  font-size: 14px;
  font-weight: 200;
}

.th-table3 > th,
.td-table3 > td {
  padding: 10px;
  font-weight: 500;
}
.td-table3 th:first-child {
  padding-right: 20px;
}
.td-table3 td:first-child {
  padding-right: 20px;
}
.td-table3 td:last-child {
  font-weight: 600;
}

.th-table3 > .small-th {
  font-size: 10px;
}
.td img {
  width: 30%;
}

.align-start td:nth-child(2),
.align-start td:nth-child(3) {
  text-align: start;
}

@media (max-width: 992px) {
  .text-block {
    font-size: 16px;
    margin: 15px auto;
    line-height: 1.6;
    padding: 0 10px;
  }

  .list {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 10px;
  }

  th,
  td {
    padding: 10px;
    font-size: 12px;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .th-table3 > th,
  .td-table3 > td {
    font-size: 9px;
    padding: 6px;
  }

  .td img {
    width: 20px;
    height: auto;
  }
}

@media (max-width: 576px) {
  .growth-path-title {
    font-size: 18px;
  }

  th,
  td {
    font-size: 11px;
    padding: 6px 8px;
  }

  .th-date {
    font-size: 12px;
  }
}

.percent-none{
  display: none;
}
body[lang="en"] {
  .percent-none{
  display: inline;
}
  th:first-child {
    padding-left: 20px;
    padding-right: 0px;
  }
  .td-table3 td:first-child {
    padding-left: 20px;
    padding-right: 0px;
  }
}
