.table-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.table-caption h3 {
  color: #31544b;
  font-size: 24px;
  text-align: center;
  margin: 2px;
}
.line-caption {
  height: 4px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(252, 180, 74, 0.4);
}

.table-container {
  overflow-x: auto;
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
thead {
  text-align: center;
}
th,
td {
  padding: 20px 35px;
  background-color: #ffffff;
  text-align: center;
}
td:first-child,
td:nth-child(2) {
  text-align: start;
}
td:last-child {
  font-weight: bold;
}

th {
  background-color: #73837f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
td {
  font-size: 18px;
  font-weight: 500;
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.5);
}

.th-date {
  color: #fcb44a;
  font-size: 14px;
  font-weight: 200;
  margin: 10px auto;
}

.th-table3 > th,
.td-table3 > td {
  font-size: 10px;
  padding: 10px 15px;
}

.td img {
  width: 30%;
}

.align-start td:nth-child(2),
.align-start td:nth-child(3) {
  text-align: start;
}

.attendance-row {
  background-color: #fcb44a;
  color: #31544b;
  text-align: center;
  font-weight: bold;
}
.attendance-row td {
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 992px) {
  .growth-path-title {
    font-size: 20px;
    margin: 40px 15px 30px;
  }

  .title1::before,
  .title1::after {
    width: 80px;
    height: 3px;
  }

  table {
    font-size: 13px;
  }

  th,
  td {
    padding: 10px;
    font-size: 12px;
  }

  .th-date {
    font-size: 12px;
    margin: 5px auto;
  }

  .td img {
    width: 20px;
  }
}

@media (max-width: 768px) {
  .growth-path-title {
    font-size: 18px;
    margin: 120px 15px 30px;
  }
  .title1::before,
  .title1::after {
    display: none;
  }
}

@media (max-width: 576px) {
  .growth-path-title {
    font-size: 18px;
    margin: 30px 10px;
  }

  th,
  td {
    font-size: 11px;
    padding: 6px 8px;
  }

  .th-date {
    font-size: 11px;
  }

  .td img {
    width: 16px;
  }
}
