.text-block {
  font-size: 18px;
  color: #163029;
  line-height: 1.8;
  margin: 20px auto;
}

.border-with-title-under-it {
  font-size: 16px !important;
  margin: 70px 0 30px 0;
}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  margin: 30px auto;
}

.card-grid:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 60px 0px 60px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.card-details {
  padding: 30px 60px;
}

.person,
.info-wrapper {
  width: 50%;
  box-sizing: border-box;
}

.person {
  text-align: center;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person img {
  max-width: 100%;
  height: auto;
}

.name {
  color: #163029;
  font-size: 30px;
  margin: 0px !important;
}

.position {
  font-size: 18px;
  margin: 0px !important;
  font-weight: 300;
  color: #5e6863;
}

.info-wrapper {
  position: relative;
  padding-right: 30px;
}

.info-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  background-color: #ffc772;
  border-radius: 2px;
}

.info {
  color: #163029;
  font-size: 16px;
  line-height: 1.8;
}

.info strong {
  color: #444;
}

.info span {
  font-weight: normal;
}

.info p {
  margin: 8px 0;
}

.p-light {
  font-weight: 300;
  font-size: 18px;
}

.card-details p {
  color: #163029;
}

.hr-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

@media (max-width: 992px) {
  .card-content {
    flex-direction: column;
    padding: 30px 20px 0 20px;
  }

  .person,
  .info-wrapper {
    width: 100%;
    padding: 0;
  }

  .person {
    margin-bottom: 20px;
  }

  .info-wrapper::before {
    display: none;
  }

  .card-details {
    padding: 20px;
  }

  .text-block,
  .info,
  .card-details p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .text-block,
  .info,
  .card-details p {
    font-size: 16px;
  }

  .name {
    font-size: 20px;
  }

  .position {
    font-size: 14px;
  }

  .card {
    margin: 30px 10px;
  }
}

body[lang="en"] {

.info-wrapper::before {
  left: 0;
}

.info-wrapper {
  padding-left: 30px;
}

}