.container-big-f{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap:110px
}

.card-small{
display: flex;
width: 43%;
flex-direction: column;
}
.card-small p{
color:#444;
font-size: 24px;
}
.card-small ul{
color:#4E6A63;
font-size: 18px;
}
.button-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    color: #FFFFFF;
}
.button-big{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    background-color: #21333B;  
    width: 200px;
    border-radius: 20px;
}
.button-big p{
  color: #FFFFFF;  
  font-size: 20px;
}

.button-div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    color: #FFFFFF;
}

.button-small {
 display: flex;
    justify-content: center;
    align-items: center;
   
    
    background-color: #FCB44A;  
    width: 83px;
    height: 83px;
    
    border-radius: 10px;
}
.button-small img{
    width: 44px;
    height: 43px;
}

.button-small:nth-of-type(4) img {
  width: 21px; 
  height: 41px;

}
.button-small:nth-of-type(5) img {
  width: 49px; 
  height: 35px;

}

@media (max-width: 1026px) {
 
    .container-big-f{
    
    gap:80px
}

.card-small{

width: 37%;

}
}
@media (max-width: 768px) {
 .padding-top{
    padding-top: 40px;
 }
    .container-big-f{
    
    gap:80px
}

.card-small{

width: 41%;

}
}
@media (max-width: 480px) {
 .padding-top{
    padding-top: 0px;
 }
    .container-big-f{
    
    gap:10px
}

.card-small{

width: 100%;

}
}