.side-menu {
  position: absolute;
  top: 28%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
  z-index: 99;
}

.circle {
  z-index: 999;
  background-color: red;
  border-radius: 50%;
  border: 3px solid #b2c0c7;
}
.border-for-circle {
  margin: 4px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #21333b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  font-weight: 500;
}

.line-one {
  width: 4px;
  height: 100px;
  background-color: #abb7bd;
  border-radius: 2px;
}
.line-two {
  width: 4px;
  height: 45px;
  background-color: #abb7bd;
  border-radius: 2px;
}

.hexagon {
  width: 36px;
  height: 40px;
  position: relative;
  margin: 0px 0px;

  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon1 {
  background-image: url(../Images/Polygon.png);
}
.hexagon2 {
  background-image: url(../Images/Polygon-two.png);
}

.hexagon img {
  height: 40%;
}

.hexagon.active .icon {
  color: white;
}

@media (max-width: 1025px){
   .side-menu {
  top: 27%;
  left: -2%;
}

}

@media (max-width: 768px){
     .side-menu {
  top: 26.5%;
  left: -3%;
  
}
}

@media (max-width: 568px){

 .side-menu {
  top: -11% !important;
  left:15%;
   gap: 2px;
   flex-direction: row-reverse;
}
  .line-one {
 
  
  display: none;
}
.line-two {
 
 
display: none;
}
.hexagon {
  width: 28px;
  height: 32px;

}
.hexagon img {
  height: 40%;
}
.circle {
  border-radius: 50%;
  border: 3px solid #b2c0c7;
}
.border-for-circle {
  margin: 4px;
  width:33px;
  height:33px;
 

}
}

@media (max-width: 480px){
   /* .side-menu {
  top: 30.5% !important;
  left: -3%;
} */
}