@font-face {
  font-family: "MyFont";
  src: url("../Assests/Font.ttf") format("woff"),
    /* Modern browsers */ url("../Assests/Font.ttf") format("truetype"); /* Fallback for older browsers */
}
@font-face {
  font-family: "MyFont-english2";
  src: url("../Assests/GothamBook.ttf") format("woff"),
    /* Modern browsers */ url("../Assests/GothamBook.ttf") format("truetype"); /* Fallback for older browsers */
}
body {
  font-family: "MyFont";
  word-spacing: -1px !important;
  background-color: #f6f5f4;
}
* {
  box-sizing: border-box;
  font-family: "MyFont";
}

body {
  margin: 0;
  direction: rtl;
  font-family: "MyFont";
}
a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
}

.container-for-hero {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.start {
  margin-top: 120px !important;
  width: 72%;
  margin: auto;
  position: relative;
}

@media (max-width: 768px) {
  .start {
    margin-top: 20px !important;
    width: 90%;
  }

  .container {
    width: 90%;
  }
}

.border-with-title-under-it {
  width: fit-content;
  color: #31544b;
  font-size: 19px;
}
.border-bottom {
  margin-top: -27px !important;
  border-bottom: 4px solid #ffb548;
}
.Paragraph p {
  text-align: justify;
  font-size: 19px;
  line-height: 37px;
}

.border-with-title-under-it-center {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #31544b;
  font-size: 19px;
}

.border-with-title-under-it-center > .border-bottom {
}

@media (min-width: 568px) {
  .container-for-hero {
    width: 80%;
    margin: auto;
    position: relative;
  }
}
